<h1><%= @user.email %></h1>

<% @user.scorecards.each do |scorecard| %>
  <p> <%= link_to scorecard.description, user_scorecard_path(@user.id, scorecard) %> </p>
<% end %>

<p><%= @user.fairway_avg %> %<p>
<p> <%= @user.gir_avg %> </p>
