<div class="jumbotron">
  <h1>OnPar!</h1>
</div>

<h5><%= link_to 'Search courses', '/courses/search' %></h5>
<p> <%= link_to "Sign in", new_user_session_path %> </p>
<p> <%= link_to "Sign up", new_user_registration_path %> </p>
