/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fcfcfc;
}

.hidden-hack {
  display: none;
}

.navbar-default {
  background-color: #fff;
}

.nav.navbar-nav.navbar-right li a {
  color: #222222;
  border: none;
}

.navbar-default .navbar-brand img {
  max-height: 100%;
  max-width: 100%;
  display: block;
}


.homepage {
  text-align: center;
  margin: 10px auto;
}

.btn {

  text-align: center;
}

.btn-success, .btn-success:active, .btn-success:visited, .btn-success:focus {
  color: #efefef;
  background-color: #54ae47;
  border-color: #54ae47;
}

.btn-success:hover {
  color: #54ae47;
  background-color: #efefef;
  border-color: #54ae47;
}

.homepage h1 {
  color: black;
  font-style: italic;
}

.field {
  margin-top: 1%;
}



#brand {
color: #54ae47;
text-shadow: 0px 0px 3px rgba(0,0,0,0.1),
             0px 1px 6px rgba(0,0,0,0.1),
             0px 11px 16px rgba(0,0,0,0.1);
font-style: italic;
}

.avg {
  color: #003c00;
  text-shadow: none;
  font-size: 1.15em;
  font-style: italic;

}

.container .row .col-xs-12 .stretch-button {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.follow-count {
  display: block;
  text-align: center;
  color: #262626;

}
.info-count {
  color: red;
  display: block;
  text-align: center;
  color: #999;
}

.scorecard {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 3% auto;
  padding: 10px;
  background-color: #fff;
  border-top: 4px solid #54ae47;

}

.card-info {
  border-bottom: solid 2px #333;
  margin-bottom: 10px;
}


.field-line {
  padding: 5px 10px;
  border: none;
  border-bottom: solid 2px #c1c1c1;
  transition: all 0.3s;
  outline: none;
  width: 20%;
}

input[type="text"]:focus {
  border-bottom: solid 2px #54ae47;
  padding-bottom: 3px;
}

label {
  padding: 10px;
  font-size: 1.2em;
  margin-right: 10px;

}

.form-group:nth-of-type(even) {
  background-color: #eee;

}

h1 {
  margin-top: 0px;
}

#putts-input {
  background-color: #eee;
}

.btn.card {
  float: right;
  background-color: #54ae47;
  color: white;
}

.card-results {
  font-weight: bold;

}

.glyphicon-pencil {
  float: right;
}

.card-stats:nth-of-type(even) {
  background-color: #eee;

}

.card-stats p {
  margin-bottom: 5px;

}

.btn-danger {
  width: 100%;

}

.search-form {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 10% auto;
  padding: 10px;
  background-color: #fff;
  border-top: 4px solid #54ae47;

}

.search-form .btn {
  display: block;
  margin: 10px auto;
}


.glyphicon-step-backward {
  margin-top: 5%;
  margin-right: 2%;
  margin-bottom: 1%;
}

.glyphicon-step-forward {
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: 1%;
}
