<%# TODO: determine why this hack works %>

<%# the presence of this form_tag seems to be %>
<%# what makes the search form after it route %>
<%# correctly when submitted %>
<div class="hidden-hack">
  <%= form_tag '/', method: :get do %>
  <% end %>
</div>

<div class="search-courses">
  <%= form_tag courses_path, method: :get do %>
    <%= text_field_tag(:search_name, params[:search_name], placeholder: 'Search Course', class: 'form-control') %>
    <%= submit_tag("Search", name: nil, class: 'btn btn-success') %>
  <% end %>
</div>
